body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chat-room {
  width: 90%;
  max-width: 400px;
  height: 600px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#chat-room-title {
  background-color: #000; /* 배경색을 검은색으로 변경 */
  color: white;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px; /* 글자 크기 조정 */
}

#chat-room-title .icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.messages {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  background: #e9eff1;
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  color: white;
  border-radius: 20px;
  width: fit-content;
  max-width: 80%;
  word-wrap: break-word;
}

.my-message {
  background-color: #34B7F1;
  align-self: flex-end;
}

.their-message {
  background-color: #0078D7;
  align-self: flex-start;
}

.sender {
  font-size: 14px;
  font-weight: bold;
  color: #ccc;
  text-align: left;
}

#usernameInput,
#messageInput,
button {
  padding: 12px 20px;
  border: none;
  outline: none;
}

#usernameInput {
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 30px;
}

#messageInput {
  border: 1px solid #ddd;
  border-radius: 30px;
  margin: 10px;
  flex-grow: 1;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin: 0 10px 10px 10px;
}

button {
  background: none; /* 버튼 배경 제거 */
  cursor: pointer;
  border: none; /* 버튼 테두리 제거 */
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 0;
}

button img.icon {
  width: 30px; /* 아이콘 크기 조정 */
  height: 30px;
}

.qrcode-container {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

#qrcode {
  width: 150px;
  height: 150px;
}

.close-button {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button:hover {
  background-color: darkred;
}

@media (max-width: 600px) {
  #chat-room {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    max-width: 100%;
    border-radius: 0;
  }

  #usernameInput,
  #messageInput {
    margin: 5px;
    padding: 10px 15px;
  }

  .button-container {
    flex-direction: column;
    align-items: center;
  }

  button {
    width: 100%;
    margin: 5px 0;
  }

  .qrcode-container {
    right: 10px;
    bottom: 10px;
  }
}
