:root {
  --background-color: #ffffff;  /* 흰색 배경 */
  --primary-color: #ff8c00;      /* 주황색 기본 색상 */
  --primary-hover-color: #ff6600; /* 짙은 주황색 호버 색상 */
  --container-shadow-color: rgba(255, 140, 0, 0.4); /* 그림자 주황색 */
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
  background-image: url('../images/pencil-icon.png'); /* 배경 이미지 경로 */
  background-size: 35%; /* 배경 이미지 크기 설정 */
  background-repeat: no-repeat; /* 배경 이미지 반복 없음 */
  background-position: center; /* 배경 이미지 가운데 정렬 */
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chat-room {
  width: 90%;
  max-width: 400px;
  height: 500px;
  background-color: var(--background-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--container-shadow-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.messages {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  background: #e9eff1;
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  color: white;
  border-radius: 20px;
  width: fit-content;
  max-width: 80%;
  word-wrap: break-word;
}

.my-message {
  background-color: var(--primary-color);
  align-self: flex-end; /* 오른쪽 정렬 */
}

.their-message {
  background-color: #0078D7;
  align-self: flex-start; /* 왼쪽 정렬 */
}

.sender {
  font-size: 14px; /* 폰트 크기 */
  font-weight: bold; /* 폰트 굵기 */
  color: #ccc;
  text-align: left; /* 닉네임을 왼쪽 정렬 */
}

#messageInput, button {
  padding: 12px 20px;
  border: none;
  outline: none;
}

#messageInput {
  border: 2px solid #ddd;
  flex-grow: 1;
  border-radius: 30px;
  margin: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin: 0 10px 10px 10px;
}

button {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  border-radius: 30px;
  width: 90px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

button:hover {
  background-color: var(--primary-hover-color);
}

.qrcode-container {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none; /* 초기에는 QR 코드를 숨김 */
  background-color: var(--background-color);
  border: 2px solid var(--background-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--container-shadow-color);
  padding: 10px;
}

#qrcode {
  width: 150px;
  height: 150px;
}

.close-button {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button:hover {
  background-color: darkred;
}

@media (max-width: 600px) {
  #chat-room {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    max-width: 100%;
    border-radius: 0;
  }

  #messageInput {
    margin: 5px;
    padding: 10px 15px;
  }

  .button-container {
    flex-direction: column;
    align-items: center;
  }

  button {
    width: 100%;
    margin: 5px 0;
  }

  .qrcode-container {
    right: 10px;
    bottom: 10px;
  }
}
