:root {
  /* 색상 정의 */
  --background-color: #ffffff;  /* 흰색 배경 */
  --button-color: #ff8c00;      /* 주황색 버튼 */
  --button-hover-color: #ff6600; /* 짙은 주황색 */
  --text-color: #ff8c00;        /* 주황색 텍스트 */
  --container-background-color: rgba(255, 255, 255, 0.8); /* 반투명 흰색 */
  --container-shadow-color: rgba(255, 140, 0, 0.4); /* 그림자 주황색 */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  background-image: url('../images/pencil-icon.png'); /* 배경 이미지 경로 */
  background-size: 35%; /* 배경 이미지 크기 설정 */
  background-repeat: no-repeat; /* 배경 이미지 반복 없음 */
  background-position: center; /* 배경 이미지 가운데 정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: var(--text-color);
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.upload-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background: var(--container-background-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 16px var(--container-shadow-color);
}

input[type="file"] {
  margin-right: 10px;
}

button {
  background-color: var(--button-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--button-hover-color);
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.button {
  background-color: var(--button-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  background-color: var(--button-hover-color);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

li form button {
  background-color: #28a745;
  padding: 5px 10px;
  font-size: 12px;
  margin-left: 10px;
  border-radius: 4px;
}

li form button:hover {
  background-color: #c82333;
}

/* 화면 비율에 따라 스타일 조정 */
@media (max-width: 1200px) and (min-aspect-ratio: 3/2) {
  .button-container {
    flex-direction: row;
  }
}

@media (max-width: 1200px) and (max-aspect-ratio: 3/2) {
  .button-container {
    flex-direction: column;
    align-items: center;
  }

  .button {
    margin-top: 10px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  body {
    margin: 20px;
  }

  .upload-container {
    flex-direction: column;
    align-items: center;
  }

  input[type="file"] {
    margin: 0 0 10px 0;
  }

  button {
    width: 100%;
    padding: 10px;
  }

  .button-container {
    flex-direction: column;
    align-items: center;
  }

  .button {
    margin-top: 10px;
    width: 100%;
  }
}

/* 매우 작은 화면 (예: 작은 모바일 기기) */
@media (max-width: 480px) {
  body {
    margin: 10px;
  }

  button {
    width: 100%;
    padding: 10px;
    font-size: 12px;
  }

  .button {
    margin-top: 5px;
    width: 100%;
    font-size: 12px;
    padding: 10px;
  }
}
