:root {
  /* 색상 정의 */
  --background-color: #ffffff;  /* 흰색 배경 */
  --button-color: #ff8c00;      /* 주황색 버튼 */
  --button-hover-color: #ff6600; /* 짙은 주황색 */
  --text-color: #ff8c00;        /* 주황색 텍스트 */
  --container-background-color: rgba(255, 255, 255, 0.8); /* 반투명 흰색 */
  --container-shadow-color: rgba(255, 140, 0, 0.4); /* 그림자 주황색 */
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-color: var(--background-color);
  background-image: url('../images/pencil-icon.png'); /* 배경 이미지 경로 */
  background-size: 35%; /* 배경 이미지 크기 설정 */
  background-repeat: no-repeat; /* 배경 이미지 반복 없음 */
  background-position: center; /* 배경 이미지 가운데 정렬 */
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  background: var(--container-background-color);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 16px var(--container-shadow-color);
  max-width: 400px;
  width: 100%;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: var(--button-color);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: var(--button-hover-color);
}
