body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  text-align: center;
  color: #5a5a5a;
  margin-bottom: 20px;
}

.quiz-choice-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.choice-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}

.choice-button:hover {
  background-color: #45a049;
}

.menu-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.menu-button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}

.menu-button:hover {
  background-color: #0056b3;
}

/* 화면 비율에 따라 스타일 조정 */
@media (min-width: 601px) and (max-width: 1200px) {
  .quiz-choice-container, .menu-button-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .choice-button, .menu-button {
    margin: 10px;
    width: calc(50% - 20px);
  }
}

@media (min-width: 1201px) {
  .quiz-choice-container, .menu-button-container {
    flex-direction: row;
    justify-content: center;
  }

  .choice-button, .menu-button {
    margin: 10px;
    width: calc(33.33% - 20px);
  }
}

@media (max-width: 600px) {
  .choice-button, .menu-button {
    width: 100%;
  }
}
