@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

body {
  font-family: 'Noto Sans KR', Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

header {
  width: 100%;
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 1000;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #007bff;
}

main {
  text-align: center;
  margin-top: 100px;
  width: 90%;
  max-width: 800px;
  padding: 20px;
}

h1 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
select {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

button,
.menu-button {
  background-color: #5c67f2;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

button:hover,
.menu-button:hover {
  background-color: #5058e2;
}

.menu-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* 버튼 사이의 간격을 설정 */
  margin-top: 20px; /* 버튼 컨테이너의 상단 여백 */
}

.back-button {
  background-color: transparent;
  color: #007BFF;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: color 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.back-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.back-button:hover {
  color: #0056b3;
  text-decoration: underline;
}

.quiz-info {
  text-align: left;
  margin-bottom: 20px;
}

.quiz-info p {
  margin: 10px 0;
}

.qr-section {
  margin-top: 40px;
}

.qr-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.qr-url {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}
