body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  color: #333;
}

h1 {
  text-align: center;
  color: #5a5a5a;
}

.menu-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.subjective-button {
  background-color: #4CAF50; /* 주관식 버튼 색상 */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
  border-radius: 5px;
}

.subjective-button:hover {
  background-color: #45a049; /* 주관식 버튼 호버 색상 */
}

.objective-button {
  background-color: #4CAF50; /* 객관식 버튼 색상 */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
  border-radius: 5px;
}

.objective-button:hover {
  background-color: #45a049; /* 객관식 버튼 호버 색상 */
}

.menu-button-container {
  display: flex;
  justify-content: center; /* 가운데 정렬 */
  margin-top: 20px;
}

.menu-button {
  background-color: #007BFF; /* 메뉴로 이동 버튼 색상 */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
  border-radius: 5px;
}

.menu-button:hover {
  background-color: #0056b3; /* 메뉴로 이동 버튼 호버 색상 */
}
