body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  color: #333;
}

h1, h2 {
  text-align: center;
  color: #5a5a5a;
}

.survey-choice-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.choice-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
  border-radius: 5px;
}

.choice-button:hover {
  background-color: #45a049;
}

.survey-list-container {
  margin-top: 30px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.view-button, .delete-button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-left: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
  border-radius: 5px;
}

.view-button:hover, .delete-button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #FF0000;
}

.delete-button:hover {
  background-color: #CC0000;
}

.menu-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.menu-button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
  border-radius: 5px;
}

.menu-button:hover {
  background-color: #0056b3;
}
