<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Room</title>
  <link rel="stylesheet" href="/css/chat.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
  <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/stomp-websocket/lib/stomp.min.js"></script>
</head>
<body>
<div id="chat-room">
  <h1 id="chat-room-title"><img src="/images/chat.png" alt="Chat Icon" class="icon"> 채팅방</h1>
  <div id="messages" class="messages"></div>
  <input type="text" id="usernameInput" placeholder="이름을 입력하시오">
  <input type="text" id="messageInput" placeholder="내용을 입력하시오">
  <div class="button-container">
    <button onclick="sendMessage()"><img src="/images/send.png" alt="Send Icon" class="icon"></button>
    <button id="showQRButton" onclick="toggleQRCode()"><img src="/images/qr.png" alt="QR Icon" class="icon"></button>
  </div>
  <!-- QR 코드를 표시할 요소 -->
  <div id="qrcode-container" class="qrcode-container">
    <img id="qrcode" alt="QR Code">
    <button id="hideQRButton" class="close-button" onclick="toggleQRCode()">X</button>
    <!-- QR 코드 아래에 URL 표시 -->
    <p id="qr-url"></p>
  </div>
</div>
<script>
  // chat.js를 로드
  const script = document.createElement('script');
  script.src = '/js/chat.js';
  document.body.appendChild(script);
</script>
</body>
</html>
