<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>파일 다운로드</title>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/download.css}"/>
</head>
<body>
<div class="download-container">
  <h1>파일 다운로드</h1>
  <ul>
    <li th:each="file : ${files}">
      <a th:href="@{'/download?filename=' + ${file.filename}}">
        <img src="../images/download.png" alt="Download Icon" class="icon">
        <span th:text="${file.filename}">Download Link</span>
      </a>
    </li>
  </ul>
  <div>
    <img th:src="@{'/generate-qr?memberId=' + ${memberId} + '&purpose=fileDownload&id=' + ${memberId}}" alt="Download Page QR Code" class="qr-code">
    <p th:text="'QR 코드 URL: ' + ${serverAddress} + '/redirect-download?tempSessionId=' + ${tempSessionId}" class="qr-url"></p>
  </div>
</div>
</body>
</html>
