<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>기능 선택</title>
  <link rel="stylesheet" href="../static/mainclass.css">
</head>
<body>
<h1>기능 선택</h1>
<div class="menu-container">
  <a href="../static/quiz.html" class="menu-button">퀴즈</a>  <!-- 여기를 수정 -->
  <a href="../static/survey.html" class="menu-button">설문조사</a>
  <a href="../static/download.html" class="menu-button">파일 배포</a>
  <a href="../static/chat.html" class="menu-button">실시간 챗</a>
</div>
</body>
</html>
