<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>기능 선택</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/mainclass.css}"/> <!-- CSS 참조 -->
</head>
<body>
<h1>기능 선택</h1>
<div class="menu-container">
  <a th:href="@{/quiz/quizChoice}" class="menu-button">퀴즈</a> <!-- 경로 수정 -->
  <a th:href="@{/survey/surveyChoice}" class="menu-button">설문조사</a> <!-- 경로 수정 -->
  <a th:href="@{/uploadForm}" class="menu-button">파일 배포</a>
  <button class="menu-button" onclick="createChatRoom()">실시간 챗</button>
</div>

<script>
  function createChatRoom() {
    const uuid = generateUUID();
    window.location.href = '/chat/' + uuid;
  }

  function generateUUID() {
    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
      const r = Math.random() * 16 | 0, v = c === 'x' ? r : (r & 0x3 | 0x8);
      return v.toString(16);
    });
  }
</script>
</body>
</html>
