<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>기능 선택</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/mainclass.css}"/> <!-- CSS 참조 -->
</head>
<body>
<h1>기능 선택</h1>
<div class="menu-container">
  <a th:href="@{/quizchoice}" class="menu-button">퀴즈</a>
  <a th:href="@{/surveychoice}" class="menu-button">설문조사</a>
  <a th:href="@{/uploadForm}" class="menu-button">파일 배포</a>
  <input type="text" id="chatRoomTitle" placeholder="채팅방 제목을 입력하세요">
  <button onclick="createChatRoom()">실시간 챗 생성</button>
</div>

<script>
  function createChatRoom() {
    const title = document.getElementById('chatRoomTitle').value;
    if (title.trim() === '') {
      alert('채팅방 제목을 입력해주세요.');
      return;
    }
    const encodedTitle = encodeURIComponent(title);
    window.location.href = '/generate-chat-room?title=' + encodedTitle;
  }
</script>

</body>
</html>
