<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>기능 선택</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/mainclass.css}"/>
</head>
<body>
<h1>기능 선택</h1>
<div class="menu-container">
  <a href="/quiz/quizChoice" class="menu-button">
    퀴즈 <img src="/images/quiz-icon.png" alt="퀴즈 아이콘" class="menu-icon" width="20" height="20">
  </a>
  <a href="/survey/surveyChoice" class="menu-button">
    설문조사 <img src="/images/survey-icon.png" alt="설문조사 아이콘" class="menu-icon" width="20" height="20">
  </a>
  <a href="/uploadForm" class="menu-button">
    파일 배포 <img src="/images/file-icon.png" alt="파일 배포 아이콘" class="menu-icon" width="20" height="20">
  </a>
  <a href="#" class="menu-button" onclick="createChatRoom()">
    실시간 챗 <img src="/images/chat-icon.png" alt="실시간 챗 아이콘" class="menu-icon" width="20" height="20">
  </a>
</div>

<script>
  function createChatRoom() {
    const uuid = generateUUID();
    window.location.href = '/chat/' + uuid;
  }

  function generateUUID() {
    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
      const r = Math.random() * 16 | 0, v = c === 'x' ? r : (r & 0x3 | 0x8);
      return v.toString(16);
    });
  }
</script>
</body>
</html>
