<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>객관식 설문조사 결과</title>
  <link rel="stylesheet" href="/css/quiz.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
</head>
<body>
<h1>객관식 설문조사 결과</h1>
<div>
  <p><strong>설문조사 제목:</strong> <span th:text="${survey.title}"></span></p>
  <p><strong>질문:</strong> <span th:text="${survey.question}"></span></p>
  <p><strong>선택한 답변:</strong> <span th:text="${survey.selectedOption}"></span></p>
</div>
<div class="menu-button-container">
  <a th:href="@{surveychoice}" class="menu-button"><설문조사유형></설문조사유형> 선택 페이지로 이동</a>
</div>
</body>
</html>
