<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>주관식 설문조사 결과</title>
  <link rel="stylesheet" href="/css/quiz.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
</head>
<body>
<h1>주관식 설문조사 결과<img src="/images/survey-icon.png" alt="설문조사 아이콘" class="menu-icon" width="24" height="24"></h1>
<div>
  <p><strong>설문 제목:</strong> <span th:text="${survey.title}"></span></p>
  <p><strong>질문:</strong> <span th:text="${survey.question}"></span></p>
</div>
<div>
  <h2>답변들:</h2>
  <ul>
    <li th:each="answer : ${answers}" th:text="${answer.answer}"></li>
  </ul>
</div>
<div class="menu-button-container">
  <a th:href="@{quizchoice}" class="menu-button">퀴즈유형 선택 페이지로 이동</a>
</div>
</body>
</html>
