<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>주관식 퀴즈 등록</title>
  <link rel="stylesheet" href="/css/quiz.css">
  <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
</head>
<body>
<h1>주관식 퀴즈 등록</h1>
<form action="/quiz/submitSubjective" method="POST">
  <div class="form-group">
    <label for="quizTitle">퀴즈 제목:</label>
    <input type="text" id="quizTitle" name="quizTitle" required>
  </div>
  <div class="form-group">
    <label for="question">질문:</label>
    <input type="text" id="question" name="question" required>
  </div>
  <div class="form-group">
    <label for="answer">정답:</label>
    <input type="text" id="answer" name="answer" required>
  </div>
  <button type="submit">퀴즈 등록</button>
</form>
<div class="menu-button-container">
  <a th:href="@{quizchoice}" class="menu-button"><퀴즈유형></퀴즈유형> 선택 페이지로 이동</a>
</div>
</body>
</html>
