<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>설문조사 선택</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/surveyChoice.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="/quiz/quizChoice">퀴즈</a></li>
      <li><a href="/survey/surveyChoice">설문조사</a></li>
      <li><a href="/uploadForm">파일 배포</a></li>
      <li><a href="#" onclick="createChatRoom()">실시간 챗</a></li>
    </ul>
  </nav>
</header>
<main>
  <h1>설문조사 유형 선택</h1>
  <div class="survey-choice-container">
    <a th:href="@{/subjectiveSurvey}" class="choice-button">
      <img src="../images/subjectivequiz.png" alt="주관식 설문조사 아이콘" class="icon">
      주관식 설문조사 등록
    </a>
    <a th:href="@{/objectiveSurvey}" class="choice-button">
      <img src="../images/objectivequiz.png" alt="객관식 설문조사 아이콘" class="icon">
      객관식 설문조사 등록
    </a>
  </div>
  <div class="survey-list-container">
    <h2>등록된 주관식 설문조사</h2>
    <ul>
      <li th:each="survey : ${subjectiveSurveys}">
        <a th:href="@{'/survey/subjectiveSurveyAnswer/' + ${survey.id}}" th:text="${survey.title}">설문조사 제목</a>
        <form th:action="@{'/survey/deleteSubjectiveSurvey/' + ${survey.id}}" method="post" style="display:inline;">
          <button type="submit" class="delete-button">
            <img src="../images/delete.png" alt="삭제 아이콘" class="icon">
            삭제
          </button>
        </form>
      </li>
    </ul>
    <h2>등록된 객관식 설문조사</h2>
    <ul>
      <li th:each="survey : ${objectiveSurveys}">
        <a th:href="@{'/survey/objectiveSurveyAnswer/' + ${survey.id}}" th:text="${survey.title}">설문조사 제목</a>
        <form th:action="@{'/survey/deleteObjectiveSurvey/' + ${survey.id}}" method="post" style="display:inline;">
          <button type="submit" class="delete-button">
            <img src="../images/delete.png" alt="삭제 아이콘" class="icon">
            삭제
          </button>
        </form>
      </li>
    </ul>
  </div>
  <div class="menu-button-container">
    <a th:href="@{/web-menu}" class="menu-button">메뉴로 이동</a>
  </div>
</main>
<script>
  function createChatRoom() {
    const uuid = generateUUID();
    window.location.href = '/chat/' + uuid;
  }

  function generateUUID() {
    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
      const r = Math.random() * 16 | 0, v = c === 'x' ? r : (r & 0x3 | 0x8);
      return v.toString(16);
    });
  }
</script>
</body>
</html>
