<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>설문조사 선택</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/surveyChoice.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
</head>
<body>
<h1>설문조사 선택</h1>
<div class="survey-choice-container">
  <a th:href="@{/survey/subjectiveSurvey}" class="choice-button">주관식 설문조사 등록</a>
  <a th:href="@{/survey/objectiveSurvey}" class="choice-button">객관식 설문조사 등록</a>
</div>
<div class="survey-list-container">
  <h2>등록된 주관식 설문조사</h2>
  <ul>
    <li th:each="survey : ${subjectiveSurveys}">
      <a th:href="@{'/quiz/subjectiveSurveyAnswer/' + ${survey.id}}" th:text="${survey.title}">설문조사 제목</a>
      <form th:action="@{'/survey/deleteSubjectiveSurvey/' + ${survey.id}}" method="post" style="display:inline;">
        <button type="submit" class="delete-button">삭제</button>
      </form>
    </li>
  </ul>
  <h2>등록된 객관식 설문조사</h2>
  <ul>
    <li th:each="survey : ${objectiveSurveys}">
      <a th:href="@{'/quiz/objectiveSurveyAnswer/' + ${survey.id}}" th:text="${survey.title}">설문조사 제목</a>
      <form th:action="@{'/survey/deleteObjectiveSurvey/' + ${survey.id}}" method="post" style="display:inline;">
        <button type="submit" class="delete-button">삭제</button>
      </form>
    </li>
  </ul>
</div>
<div class="menu-button-container">
  <a th:href="@{/web-menu}" class="menu-button">메뉴로 이동</a>
</div>
</body>
</html>
